<div menu>
    <div class="page-content">
        <div class="page-header">
            <h1>
                {{navigator}}
                <small>
                    <i class="icon-double-angle-right"></i>
                    查看
                </small>
                <button class="btn btn-primary pull-right" type="button" ng-click="NewItem()">添加轻游</button>
            </h1>
        </div>
        <!-- /.page-header -->
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    欢迎访问管理后台 :)
                    <div class="main" id="J_main">
                        <div class="mod_info1 pull-right" style="cursor: pointer;" ng-click="ClearCache()">
                            <div class="mod_info1__logo1 mod_info1__logoall"></div>
                            <div class="mod_info1__logo2 mod_info1__logoall"></div>
                            <div class="mod_info1__logo3 mod_info1__logoall"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

